/*---page layout configuration---*/
/*remove container's left & right padding*/
.container-xl
{
    padding-left: 0;
    padding-right: 0;
}

/*Space between every section*/
header{
    padding: 100px 15px;
}

section
{
    padding: 0px 15px;
    padding-top: 50px;
}
/*card detail*/
.online-payment input::-webkit-outer-spin-button, .online-payment input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

/*Summary*/
.discount
{
    /*display: none !important;*/
}

.item .card
{
    border: none;
}