/*remove container's left & right padding*/
.container-xl
{
    padding-left: 0;
    padding-right: 0;
}

/*Space between main*/
main
{
    padding: 50px 0px;
}

/*prod-img*/
.prod-img
{

}

.main-img
{
    text-align: center;
}

.main-img img
{
    width: 400px;
}


.sub-img
{
    justify-content: center;
}

.sub-img img
{
    width: 100px;
}


/*prod-info*/
.prod-name,.prod-price,.prod-review,.prod-info .btn,#prod-desc
{
    margin: 25px 0px;
}

/*prod-price*/
.prod-price h3
{
    font-weight: 400;
}

/*prod-review*/
.prod-review i
{
    color: orange;
}

/*cart-btn*/
.btn-primary:hover
{
    background-color: black;
    border-color: black;
}

/*prod-desc*/
.prod-desc
{
    border-top: 1px solid #D5DBDB;  
    border-bottom: 1px solid #D5DBDB; 
}
.prod-desc button
{
    color: black;
    padding-left: 0px;
    padding-right: 0px;
    justify-content: space-between;
}

.prod-desc button:focus
{
    box-shadow: none;
}
